# HADOOP config
## Name of the database (default: openintel)
#DBNAME=openintel

## Hostname of the database (default: localhost)
#DBHOST=localhost

## Port used to connect to the database. This must be the port where the
## hadoop server serves JDBC / ODBC requests (default: 21050)
#DBPORT=21050

# host port the service is served at (default: 8888)
#SERVICE_PORT=8888

# Port where the docker container serves HTTP request internally (default: 80)
#INTERNAL_HTTP_PORT=80
